.form {
    background-color: #00669F;
    border-radius: 20px;
    color: #fff;
    width: 60vw;
    max-width: 350px;
    padding: 2rem 3rem;
    margin: 0 1rem;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Inter', sans-serif;
}

.fieldset__container {
    width: 100%;
}

fieldset {
    border: none;
    padding: 0;
}

#nombre, #especie, #date, #file, #descripcion {
    width: 100%;
    border: none;
    border-radius: 9px;
    padding: .5rem 0 .5rem 0.5rem;
    margin: 12px 0;
    box-sizing: border-box;
}

#file {
    padding-left: 0;
}

.check__container, .radio__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.input label {
    padding: 0.5rem;
}

.title__container {
    text-align: center;
}

.title__container p {
    font-size: 1rem;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 1rem;
}

.title {
    
    font-size: 1rem;
    font-weight: 300;
}

hr {
    margin-bottom: 1rem;
}

.input {
    padding: 1rem 0;
}

button {
    background: #1CD1B0;
    border: none;
    border-radius: 15px;
    margin: 0 auto;
    width: 200px;
    height: 50px;
    font-size: 1.3rem;
    font-weight: 700;
    font-style: normal;
}

.button__container {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (min-width: 750px) {
    .form {
        width: 60vw;
        max-width: 550px;
        justify-content: center;
        padding: 2rem 3rem;
        box-sizing: border-box;
    }

    .input label {
        padding: 0.3rem;
    }
}

@media (min-width: 1000px) {
    .form {
        width: 60vw;
        max-width: 750px;
        justify-content: center;
    }

    .fieldset__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    fieldset {
        border: none;
        width: 45%;
    }

    .title__container {
        width: 100%;
    }

    .input {
        margin: 0;
        padding: 0.4rem 0;
    }

    textarea {
        height: 240px;
    }

    #file {
        margin-bottom: 17px;
    }
}